USER_DB_USER=user_admin
USER_DB_PASSWORD=user_password
USER_DB_NAME=user_db
USER_DB_PORT=5432
USER_DB_SSLMODE=disable
USER_SERVICE_GRPC_PORT=50051

CATALOG_DB_USER=postgres
CATALOG_DB_PASSWORD=admin123
CATALOG_DB_NAME=foodrush_db
CATALOG_DB_HOST=catalog-database
CATALOG_DB_PORT=5432
CATALOG_DB_SSLMODE=disable
CATALOG_SERVICE_HOST_PORT=50052
CATALOG_SERVICE_GRPC_PORT=50051

ORDERS_DB_HOST=orders-database
ORDERS_DB_HOST_PORT=27017
ORDERS_DB_PORT=27017
ORDERS_SERVICE_HOST_PORT=50053
ORDERS_SERVICE_GRPC_PORT=50053

PAYMENT_DB_USER=postgres
PAYMENT_DB_PASSWORD=postgres
PAYMENT_DB_NAME=payments_db
PAYMENT_DB_HOST=payment-database
PAYMENT_DB_PORT=5432
PAYMENT_DB_HOST_PORT=5434
PAYMENT_SERVICE_HOST_PORT=50054
PAYMENTS_SERVICE_GRPC_PORT=50051
